 {% extends 'base.html' %}

        {% load static %}
        


        {% block content %}


<section id="page-login">
    <div class="wrapper-log">
            <div class="title">
                Mot de passe oublié
            </div>
            {% include 'includes/alerts.html' %}
            <form action="{% url 'forgotPassword' %}" method="POST">

                {% csrf_token %}

                <div class="field">
                    <input type="email" required name="email">
                    <label>Adresse Email</label>
                </div>
        
                
                <div class="signup-link">
                    Avez vous le mot de passe? <a href="{% url 'login' %}"> Connectez vous</a>
                </div>
                <div class="field">
                    <input type="submit" value="Envoyer">
                </div>
            </form>
        </div>
</section>
{% endblock %}