 {% extends 'base.html' %}

        {% load static %}
        


        {% block content %}


<section id="page-login">
    <div class="wrapper-log">
            <div class="title">
                Nouveau Mot de Passe
            </div>
            {% include 'includes/alerts.html' %}
            <form action="{% url 'resetPassword' %}" method="POST">

                {% csrf_token %}

                <div class="field">
                    <input type="password" required name="password">
                    <label>Entrez un nouveau mot de passe</label>
                </div>
                <div class="field">
                    <input type="password" required name="confirm_password">
                    <label>Confirmez le nouveau mot de passe</label>
                </div>
                <div style="margin-top: 60px;" class="field">
                  <input type="submit" value="Modifier">
                </div>
            </form>
        </div>
</section>
{% endblock %}