             {% load static %}
        
        <section id="figure" class="section-p1">
            <div class="figure-box">
                <img src="{% static 'img/features/f1.png' %}" alt="">
                <h6>Livraison gratuite</h6>
            </div>
            <div class="figure-box">
                <img src="{% static 'img/features/f2.png' %}" alt="">
                <h6>Commande en ligne</h6>
            </div>
            <div class="figure-box">
                <img src="{% static 'img/features/f3.png' %} " alt="">
                <h6>Payment sécurisé</h6>
            </div>
            <div class="figure-box">
                <img src="{% static 'img/features/f4.png' %}" alt="">
                <h6>Produits garantis</h6>
            </div>
            <div class="figure-box">
                <img src="{% static 'img/features/f5.png' %}" alt="">
                <h6>Clients satisfaits</h6>
            </div>
            <div class="figure-box">
                <img src="{% static 'img/features/f6.pn' %}g" alt="">
                <h6>Ouverte 24/7</h6>
            </div>
        </section>