{% load static %}

        <section id="info-nouveaute" class="section-p1 section-m1">
            <div class="nouv-texte">
                <h4>Abonnez pour nos produits d'actualités</h4>
                <p>Recevez un Email a chaque fois qu'on ajoute de <span>nouveaux produits</span> </p>
            </div>
            <div class="nouv-form">
                <input type="text" placeholder="Entrer votre email">
                <button class="normal">S'abonner</button>
            </div>
        </section>
        
        <footer class="section-p1">
            <div class="foot-contenue">
                <div class="col">
                    <img src="{% static 'img/logo1.png' %}" alt="">
                    <h4>Contact</h4>
                    <p><span>Adresse : </span> Touba Diannatoul Mahwa</p>
                    <p><span>Telephone : </span> +221774178774</p>
                    <p><span>Telephone : </span>+221764178774</p>
                    <p><span>Email : </span> safishop@gmail.com</p>
                    <p><span>Email 2 : </span> cineinformatique@gmail.com</p>
                    <p><span>Ouverte : </span> 24/7 de 9h00 à 22h30</p>
                    <div class="suivre">
                        <h4>Suivez nous</h4>
                        <div class="icon">
                            <i class="fab fa-facebook-f"></i>
                            <i class="fab fa-tiktok"></i>
                            <i class="fab fa-instagram"></i>
                            <i class="fab fa-twitter"></i>
                            <i class="fab fa-youtube"></i>
                        </div>
                    </div>
                    
                    
                </div>
                <div class="col">
                    <h4>Apropos</h4>
                    <a href="#">A propos de nous</a>
                    <a href="#">Termes et conditions</a>
                    <a href="#">Contatez nous</a>
                </div>
                <div class="col compte">
                    <h4>Mon compte</h4>
                    <a href="#">profil</a>
                    <a href="#">Mon panier</a>
                    <a href="#">Tableau de bord</a>
                    <a href="#">Aide</a>
                </div>
    
                <div class="col applis">
                    <h4>Applis</h4>
                    <p>Telecharger nos Applications</p>
                    <div class="row">
                        <a href="#"><img src="{% static 'img/pay/app.jpg' %}" alt="lien de l'appli dans appstore"></a>
                        <a href="#"><img src="{% static 'img/pay/play.jpg' %}" alt="lien de l'appli dans playstore"></a>
                    </div>
                    <p>Nos méthodes de paiement sécurisées</p>
                    <img src="{% static 'img/pay/pay.png' %}" alt="image methodes de paiement">
    
                </div>
            </div>
            <div class="copyright">
                <p><span>C</span> opyright 2024, cineinformatique, Sénégal</p>
            </div>
        </footer>